https://theyakuzi.github.io/oldcord/src/components/vars.css
https://theyakuzi.github.io/oldcord/src/components/color.css
https://theyakuzi.github.io/oldcord/src/components/imgs.css
https://theyakuzi.github.io/oldcord/src/components/other.css
https://theyakuzi.github.io/oldcord/src/components/redesign.css